/*********************************************
 * BASE STYLES
 *********************************************/

html {
    font-family: 'Lora', serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    padding-bottom: 40px;
    padding-right: 10px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 20px;
    min-width: 700px;
    width: 1%;
}

header {
    font-weight: bold;
    font-size: 25px;
    color: gainsboro;
}

.ruler-background {
    background-color: gainsboro;
}

.ruler {
    background: url("/images/ruler.png");
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 10px;
    margin-left: 70px;
}

article {
    padding-bottom: 50px;
    font-size: 14px;
    display: block;
    max-width: 600px;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
}

blockquote {
    border-left: 4px solid deepskyblue;
    margin-left: -19px;
    padding-left: 15px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

a:hover {
    text-decoration: underline;
}

.quote {
    line-height: 60px !important;
    font-size: 49px !important;
}

/*********************************************
 * Frame
 *********************************************/

iframe#editor-frame {
    background-color: white;
    border:1px solid #ccc;
    width:90%; height:50%;
    margin-left: 35;
    margin-right: 10;
    margin-top: 10;
}

iframe#src-frame {
    background-color: white;
    border:1px solid #cc5f54;
    width:90%; height:50%;
    margin-left: 35;
    margin-right: 10;
}

/*********************************************
 * UI BUTTON
 *********************************************/

.toolbar {
    background-color: whitesmoke;
    height: 30px;
    line-height: 50px;
}

.uibutton {
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0px;
    height: 32px;
    width: 25px;
    border: 0px;

}

.printbutton { background: url('/images/print.png'); background-repeat: no-repeat;}
.undobutton { background: url('/images/undo.gif'); background-repeat: no-repeat;}
.redobutton { background: url('/images/redo.gif'); background-repeat: no-repeat;}
.cutbutton { background: url('/images/cut.gif'); background-repeat: no-repeat;}
.copybutton { background: url('/images/copy.gif'); background-repeat: no-repeat;}
.pastebutton { background: url('/images/paste.gif'); background-repeat: no-repeat;}
.boldbutton { background: url('/images/bold.gif'); background-repeat: no-repeat;}
.italicbutton { background: url('/images/italic.gif'); background-repeat: no-repeat;}
.underlinebutton { background: url('/images/underline.gif'); background-repeat: no-repeat;}
.forecolorbutton { background: url('/images/forecolor.gif'); background-repeat: no-repeat;}
.backcolorbutton { background: url('/images/backcolor.gif'); background-repeat: no-repeat;}
.linkbutton { background: url('/images/link.gif'); background-repeat: no-repeat;}
.imagebutton { background: url('/images/image.gif'); background-repeat: no-repeat;}
.tablebutton { background: url('/images/table.gif'); background-repeat: no-repeat;}
.justifyleftbutton { background: url('/images/justifyleft.gif'); background-repeat: no-repeat;}
.justifycenterbutton { background: url('/images/justifycenter.gif'); background-repeat: no-repeat;}
.justifyrightbutton { background: url('/images/justifyright.gif'); background-repeat: no-repeat;}
.unorderedlistbutton { background: url('/images/unorderedlist.gif'); background-repeat: no-repeat;}
.orderedlistbutton { background: url('/images/orderedlist.gif'); background-repeat: no-repeat;}
.indentbutton { background: url('/images/indent.gif'); background-repeat: no-repeat;}
.outdentbutton { background: url('/images/outdent.gif'); background-repeat: no-repeat;}
.htmlbutton { background: url('/images/html.png'); background-repeat: no-repeat;}
